.navbar {
    font-family: fantasy;
}
.container {
    margin: 0 auto;
    width: 960px
}

.centerme {
    text-align: center;
}
body {background-color:lightpink;
}
ul {
list-style-type: none;
margin: 10;
padding: 10;
position: center;
}
li {
display: inline;
text-align: center;
}
li a {
display: block inline;
padding: 10px;
background-color: white
}
p {
font-size: 40px;
background-color: white;
text-align: center;
width: 10;
border-style:dashed;
border-color:darkred;
margin-right: 20%;
margin-left: 20%;
    font-family: cursive; Apple Chancery;
}
h1 {
text-align: center;
    font-family: cursive; Apple Chancery;

}
.header img {
width: 60px;
height: 70px;
}